// src/CircularCountdown.scss
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  position: relative;
}

.countdown-svg {
  // transform: rotate(-90deg);
}

.countdown-circle {
  fill: none;
  stroke: $light-secondary;
  stroke-width: 3;
  transition: stroke-dashoffset 1s linear;
}

.countdown-circle2 {
  fill: none;
  stroke: #b05cc544;
  stroke-width: 3;
  transition: stroke-dashoffset 1s linear;
}

.countdown-text {
  fill: $light-secondary;
  font-weight: 700;
  font-size: 10px;
  text-anchor: middle;
  dominant-baseline: middle;
}

